* {
    box-sizing: border-box;
}

#root {
  /*height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  /*flex: 1;*/
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;
  justify-content: center;*/
  width: 390px;
  margin: 0 auto;
}

.mastermind-image {
    max-width: 100%;
}

.game-title {
    flex-basis: 100%;
    text-align: center;
}

.game-title h1 {
    margin: 0;
}

.game-board {
  /*flex: 1;
  display: flex;
  flex-direction: row;*/
  width: 320px;
  padding: 10px 0;
}

.selector-panel {
    padding: 30px 10px;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.row {
    margin: 0.5rem 0;
    /*display: flex;
    flex-direction: row;*/
    border: 1px solid white;
}

.active-row {
    border: 1px solid black;
    padding: 5px;
}


.circle {
    border: 2px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.row {
    display: flex;
}

.guess {
    margin-right: 20px;
    width: 400px;
}

.guess .circle {
    border: 2px solid black;
    display: inline-block;
    margin: 0 5px 0 5px;
}

.feedback .circle {
    width: 16px;
    height: 16px;
    margin: 0 2px 0 2px;
    border: 2px solid black;
}

.active-circle {
    border-color: black
}

.activeColors {
    display: flex;
    flex-direction: row;
}

.color-selector .circle {
    margin: 2px 0;
}

.head-check-image {
    margin-top: 8px;
    width: 43px;
    height: auto;

}

.winner-image {
    width: 400px;
}
